<div class="row" style="flex-wrap: wrap;">
  <div class="col col-33" ng-repeat="itemproduct in databarangpenjualan | filter: {GROUP_ID:filtergroup||undefined,PRODUCT_NM:filterproductbyname||undefined,IS_FAVORITE:filterfavorite||undefined} as filtering track by $index" >
    <div class="list">
      <div class="item item-image" style="padding-right:0px" ng-click="tambahqtyitem(itemproduct,$index)">
        <img ng-src="https://image.kontrolgampang.com/produk/{{itemproduct.IMG_FILE}}" width="100%" height="121px" alt="{{itemproduct.PRODUCT_NM|capitalize}}" imageonload/>
      </div>
      <div class="backcoloritem" style="padding:3px;border-top:none;border-bottom:none;background:#444">
        {{itemproduct.PRODUCT_NM|cuttext:true:20:'...'}}
      </div>
      <a class="aitem item-icon-right" style="border-top:none;padding:5px;background:#444">
        <p style="font-size:10px;text-align:left;">
          <span style="font-weight: bold;">{{itemproduct.HARGA_JUAL|number}}</span>
            {{findharga(itemproduct,$index)}}
        </p>
        <i style="font-size:24px;right:5px;" ng-click="OpenModalAddToCart(itemproduct)" class="icon ion-ios-cart">
          <span class="badge badge-balanced icon-badge" ng-if="itemproduct.QTY_INCART > 0">{{itemproduct.QTY_INCART|number}}</span>
          <span class="badge badge-positive icon-badge" ng-if="itemproduct.QTY_INCART == 0">{{itemproduct.QTY_INCART|number}}</span>
        </i>
      </a>
      <span class="notify-kecilbadge"><h6>{{itemproduct.CURRENT_STOCK|number}}</h6></span>
      <span class="favorite-badgekecil" ng-click="addorrevomvefromfavorite(itemproduct,$index)">
         <i class="icon" ng-class="itemproduct.IS_FAVORITE ? 'ion-ios-star emas' : 'ion-ios-star-outline emas' "></i>
      </span>
      <!-- <span class="kp-kecilbadge" ng-click="openmodalbarangkreditplus(itemproduct)"><h6>C</h6></span> -->
    </div>
  </div>
</div>
<div class="row not-found" style="top: 35vh;" ng-if="filtering.length == 0">
  <div class="profile">
      <img ng-src="img/kg.png"/>
      <h5 style="color: #444;margin-top: -1vh;" ng-if="modefavorit">
        Belum Ada Produk Favorite Yang Terdaftar
      </h5>
      <h5 style="color: #444;margin-top: -1vh;" ng-if="modegroup && namagroup">
        Produk Untuk Kategori {{namagroup}} Masih Kosong
      </h5>
  </div>
</div>