<div class="button-bar" ng-class="theme.headerstyle" id="mybar" >
  <a class="button button-small ion-trash-b" style="font-size:24px" ng-click="openmodalclearitemshopcart(itemincart)">

  </a>
  <a class="button button-small ion-person-add" style="font-size:24px"  ng-click="openmodallistcustomer()">
  </a>
  <a class="button button-small ion-android-exit" style="font-size:24px"  ng-click="openmodalloadfromtobill()">
  </a>
</div>
<div class="row" style="background: #f8f8f8">
    <div class="my-col" style="min-width:160px">
      #.&nbsp;&nbsp;NAMA
    </div>
    <div class ="my-col">
      HARGA
    </div>
    <div class ="my-col">
      QTY
    </div>
    <div class ="my-col">
      <div style="float:right">
        SUB
      </div>
    </div>
</div>
<ion-scroll class="itemincart-scroll">
  <div class="row" ng-repeat="itemproduct in itemincart track by $index" style='padding-top:9px;padding-bottom:9px;border-top: 1px solid rgba(1, 1, 1, 0.1);' ng-click="OpenModalAddToCart(itemproduct,'fromcart')">
      <div class="my-col" style="min-width:160px">
        {{$index + 1}}.&nbsp;&nbsp;{{itemproduct.PRODUCT_NM|cuttext:true:32:'...'}}
        <div style="padding-left: 20px" ng-if="itemproduct.PPN > 0">
          PPN ({{itemproduct.PPN}}%)
        </div>
      </div>
      <div class="my-col">
        {{itemproduct.HARGA_JUAL|number}}
      </div>
      <div class="my-col">
        x {{itemproduct.QTY_INCART}}
      </div>
      <div class="my-col">
        <div style="float:right">
          {{itemproduct.HARGA_JUAL * itemproduct.QTY_INCART|number}}</br>
          <span style="float: right;" ng-if="itemproduct.PPN>0">
            {{itemproduct.HARGA_JUAL * itemproduct.QTY_INCART * itemproduct.PPN / 100 | number}}
          </span>
        </div>
      </div>
  </div>
  <div class="header text-center" ng-if="itemincart.length == 0" style="margin-top: 10vh">
    <i class="icon ion-ios-cart-outline" style="font-size:20vw;color:#b2b2b2;"></i>
</div>
</ion-scroll>
<div style="position:absolute;bottom:0px;padding:0px;margin-right:-1px;margin-left:-1px;margin-bottom:5.5vh;width: 32%">
  <div class="row" style="margin-bottom:-15px;background: #f8f8f8">
      <div class="my-col">
        <h4>Total </h4>
      </div>
      <div class="my-col">
        <div style="float:right">
          <h4>{{itemincart.length}} Item</h4>
        </div>
      </div>
      <div class="my-col">
        <div style="float:right;padding-right: 0px;">
          <h4 ng-if="itemincart.length > 0">{{hitungtotal(itemincart)|number}}</h4>
          <h4 ng-if="itemincart.length == 0">0</h4>
        </div>
      </div>
  </div>
  <div class="row" style="padding:0px;" ng-if="itemincart.length > 0">
    <div class="col col-50" style="padding:0px;" ng-click="openmodalsavetobill()">
      <button class="button button-calm button-block button-full">
        Simpan
      </button>
    </div>
    <div class="col col-50" style="padding:0px;">
      <button class="button button-block button-full" ng-class="theme.buttonstyle" ng-click="openmodalpembayaran(nomortransaksicustomer,hitungtotal(itemincart))" >
        Bayar
      </button>
    </div>
  </div>
  <div style="padding:-5px;"  ng-if="itemincart.length == 0">
      <button class="button button-block button-full" ng-class="theme.buttonstyle">
        Bayar : Rp. 0
      </button>
  </div>
</div>