<ion-view>
	<ion-nav-title>
        <div class="page-title">DEVICE INFO</div>
    </ion-nav-title>
	<ion-content>
      	<ion-list ng-if="isdevice.ready">
      		<label class="item item-input item-stacked-label border-bottom">
		    	<span class="input-label">Device Model</span>
		    	<input type="text" ng-model="devicemodel" ng-readonly="true" class="custom-success" style="background-color: white;">
		  	</label>
		  	<label class="item item-input item-stacked-label border-bottom">
		    	<span class="input-label">Device Platform</span>
		    	<input type="text" ng-model="deviceplatform" ng-readonly="true" class="custom-success" style="background-color: white;">
		  	</label>
		  	<label class="item item-input item-stacked-label border-bottom">
		    	<span class="input-label">Device UUID</span>
		    	<input type="text" ng-model="deviceuuid" ng-readonly="true" class="custom-success" style="background-color: white;">
		  	</label>
		  	<label class="item item-input item-stacked-label border-bottom">
		    	<span class="input-label">Device Version</span>
		    	<input type="text" ng-model="deviceversion" ng-readonly="true" class="custom-success" style="background-color: white;">
		  	</label>
      	</ion-list>
      	<ion-list ng-if="!isdevice.ready">
			<div class="row not-found">
		      <div class="profile">
		          <img ng-src="img/kg.png"/>
		          <h5 style="color: #444;margin-top: -1vh;">Fitur Tidak Tersedia Di Website</h5>
		      </div>
		    </div>
	    </ion-list>
	</ion-content>
</ion-view>

