<ion-view>
  <ion-nav-title>
    <div class="page-title" ng-click="openstorepopup(datadetail)" ng-if="!screenbesar">
        {{viewtoshow.valuechoose}} {{datadetail.STORE_NM|uppercase}}
      <i class="icon ion-ios-arrow-down placeholder-icon" style="color: #fff"></i>
    </div>
    <div class="page-title" ng-if="screenbesar">
        {{viewtoshow.valuechoose}} {{datadetail.STORE_NM|uppercase}}
    </div>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <div class="buttons">
      <button class="button button-icon icon ion-android-add" ng-click="modalnewperangkatopen()" ng-if="viewtoshow.valuechoose != 'PEMBAYARAN' ">
      </button>
    </div>
  </ion-nav-buttons>    
  <ion-content class="fullsaja-ctrlstore" padding="false" scroll="false">
    <ion-list>
      <div ng-include="'templates/control/masterlayar/perangkatlayarbesar.html'" ng-if="screenbesar"></div>
      <div ng-include="'templates/control/masterlayar/perangkatlayarkecil.html'" ng-if="!screenbesar"></div>
    </ion-list>
  </ion-content>
</ion-view>