<ion-modal-view class="mymodalpembayarannotifikasi">
  <form name="newtransaksiheaderForm" novalidate="">
  <ion-header-bar class="bar bar-header bar-assertive">
    <h1 class="title">NEW TRANSAKSI-HEADER</h1>
    <button class="button button-clear right" ng-click="modalnewtransaksiheaderclose()">
      <i class="icon ion-backspace"></i>
    </button>
    <button class="button button-clear left" ng-click="modalnewtransaksiheadersubmit()" ng-disabled="newtransaksiheaderForm.$invalid">
      <i class="icon ion-android-done-all"></i>
    </button>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <div class="row" style="flex-wrap: wrap;">
        <div class="col col-50">
          <label class="item item-input item-stacked-label">
           <span class="input-label">JUMLAH PRODUCT</span>
            <input type="number" ng-model="newtransasksiheader.TOTAL_PRODUCT" required>
          </label>
        </div>
        <div class="col col-50">
          <label class="item item-input item-stacked-label">
           <span class="input-label">SUB TOTAL</span>
            <input type="number" ng-model="newtransasksiheader.SUB_TOTAL_HARGA" required>
          </label>
        </div>
        <div class="col col-50">
          <label class="item item-input item-stacked-label">
           <span class="input-label">PPN</span>
            <input type="number" ng-model="newtransasksiheader.PPN" required>
          </label>
        </div>
        <div class="col col-50">
          <label class="item item-input item-stacked-label">
           <span class="input-label">DESKRIPSI</span>
            <input type="text" ng-model="newtransasksiheader.DCRP_DETIL" required>
          </label>
        </div>

        
      </div>
    </ion-list>
  </ion-content>
  </form>
</ion-modal-view>