<!-- Source http://codepen.io/jdnichollsc/pen/xOZgYw -->
<ion-modal-view id="login" class="mymodalpembayaran">
  <ion-header-bar class="bar bar-header bar-assertive">
    <h1 class="title">RESET PASSWORD</h1>
  </ion-header-bar>
  <ion-content overflow-scroll="false" has-bouncing="true" class="has-header has-footer">
    <div class="row responsive-md">
        <div class="col col-50 col-offset-25">
            <form name="passwordForm" role="form" novalidate="novalidate">
              <div class="row item-text-wrap">
                <span style="text-align:justify;color:white">
                  Reset Kode Telah Dikirimkan Ke Email Anda.Check Email Atau Junk Email Anda Untuk Mendapatkan Reset Kode.
                  Masukkan Reset Code Anda Ke Box Di Bawah Ini.
                </span>
              </div>
              <div class="row" style="flex-wrap: wrap;">
                <div class="col col-25">
                  <label class="item item-input">
                    <input type="tel" ng-model="datanewpassword.x1" required style="text-align: center;" id="x1" auto-tab-to="x2" minlength="2" maxlength="2" required>
                  </label>
                </div>
                <div class="col col-25">
                  <label class="item item-input">
                    <input type="tel" ng-model="datanewpassword.x2" required style="text-align: center;" id="x2" auto-tab-to="x3" minlength="2" maxlength="2" required>
                  </label>
                </div>
                <div class="col col-25">
                  <label class="item item-input">
                    <input type="tel" ng-model="datanewpassword.x3" required style="text-align: center;" id="x3" auto-tab-to="x4" minlength="2" maxlength="2" required>
                  </label>
                </div>
                <div class="col col-25">
                  <label class="item item-input">
                    <input type="tel" ng-model="datanewpassword.x4" required style="text-align: center;" id="x4" minlength="2" maxlength="2" required>
                  </label>
                </div>
              </div>
                <div class="list list-inset label" style="margin-bottom:5px">
                    <label class="item item-input item-stacked-label" style="background-color: #f8f8f8">
                      <span class="input-label">New Password</span>
                    </label>
                    <label class="item item-input">
                         <input type="password" placeholder="Password" ng-model="datanewpassword.password" ui-show-password required="true">
                    </label>
                </div>
                <button type="submit" class="button button-block button-positive rcorners2" ng-disabled="passwordForm.$invalid" ng-click="submitresetpass(datanewpassword)" >
                  Confirm
                </button>
            </form>
        </div>
    </div>
  </ion-content>
</ion-modal-view>