<ion-view view-title="PRODUCTS TESTING">
	<ion-nav-buttons side="right">
      <button class="button button-icon icon ion-plus" ng-click='modaltambahproductopen()'></button>
  	</ion-nav-buttons>
	<ion-content>
		<ion-list>
			<ion-item class="item-stable" ng-repeat="product in dataproducts" ng-if="product.STATUS != 3">
				<div class="item-icon-left">
					<i class="icon ion-loop"></i>
					<h2>{{product.PRODUCT_NM|uppercase}}</h2>
				</div>
				<div class="item-icon-right">
					<i class="icon ion-ios-arrow-right"></i>
				</div>
				<ion-option-button class="button-assertive icon ion-trash-b" ng-click="modaldeleteproductopen(product,$index)">
				</ion-option-button>
				<ion-option-button class="button-positive icon ion-loop" ng-click="modalupdateproductopen(product,$index)">
				</ion-option-button>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>


