<form name="formCard" class="form">
    <label class="item">
        <i class="icon-credit-card mr3"></i>
        <input type="text" id="cardNo" placeholder="Please Insert Card" name="cardNo" tabindex="1"/>
    </label>
    <!--<label class="item" id="labelPwd">-->
    <!--<i class="icon-lock mr3"></i>-->
    <!--<input type="password" id="pwd" placeholder="Please Input Password" name="password" tabindex="2"/>-->
    <!--</label>-->
    <label class="item">
        <button type="button" id="cancel" class="button btn-cancle btn-middle" tabindex="2">cancel</button>
        <button type="button" id="confirm" class="button btn-submit btn-middle" disabled="disabled" tabindex="3">
            confirm
        </button>
    </label>
</form>