<form name="pulsaForm"  novalidate="true">
  <style>
    i.icon.ion-card 
    {
      font-size: 30px;
      padding-right: 50px
    }
    input {text-align: right;text-transform: uppercase;}
    label{line-height: 50%;}
  </style>
  <div class="padding">
    <fieldset>
      <legend>{{datapembelianppob.KELOMPOK}} # {{datapembelianppob.KTG_NM}}</legend>
      <div class="padding">
        <label  class="item item-input bg-dark">
          <i class="icon ion-card placeholder-icon"></i>
          <input type="tel" placeholder="Masukkan Nomor HP Disini" ng-model="datapembelianppob.MSISDN" ng-pattern="regex" ng-minlength="10" ng-maxlength="12" required name="nomorhp">
        </label>
      </div>
      <div class="padding">
        <label  class="item item-input bg-dark">
          <i class="icon ion-card placeholder-icon"></i>
          <input type="text" placeholder="Masukkan Nilai Nominal Disini" ng-model="datapembelianppob.NAME" readonly="true" ng-click="inputnominalpulsa(datapembelianppob)" required>
        </label>
      </div>
      <div class="padding" ng-if="inquerysuccess">
        <label  class="item item-input bg-dark">
          <i class="icon ion-card placeholder-icon"></i>
          <input type="text" ng-model="datapembelianppob.NAMA_PELANGGAN" readonly="true">
        </label>
      </div>
      <div class="padding">
        <div class="row" style="padding:0px;">
          <div class="col col-50" style="padding:0px;" ng-click="openmodepembelian()">
            <button class="button button-assertive button-block button-full">
              Batal
            </button>
          </div>
          <div class="col col-100" style="padding:0px;">
            <button class="button button-block button-full" ng-class="theme.buttonstyle" ng-disabled="pulsaForm.$invalid" ng-click="submitinquery()">
              Submit
            </button>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
  <div class="padding" ng-if="inquerysuccess">
    <fieldset>
      <legend>RINCIAN TAGIHAN</legend>
      <div class="padding">
        <label  class="item item-input bg-dark">
          <i class="icon ion-card placeholder-icon"></i>
          <input type="tel" placeholder="Masukkan Nomor HP Disini" ng-model="datapembelianppob.MSISDN" ng-pattern="regex" ng-minlength="10" ng-maxlength="12" required name="nomorhp">
        </label>
      </div>
      <div class="padding">
        <label  class="item item-input bg-dark">
          <i class="icon ion-card placeholder-icon"></i>
          <input type="text" placeholder="Masukkan Nilai Nominal Disini" ng-model="datapembelianppob.NAME" readonly="true" ng-click="inputnominalpulsa(datapembelianppob)" required>
        </label>
      </div>
      <div class="padding">
        <div class="row" style="padding:0px;">
          <div class="col col-50" style="padding:0px;" ng-click="openmodepembelian()">
            <button class="button button-assertive button-block button-full">
              Batal
            </button>
          </div>
          <div class="col col-100" style="padding:0px;">
            <button class="button button-block button-full" ng-class="theme.buttonstyle" ng-disabled="pulsaForm.$invalid" ng-click="submitinquery()">
              Submit
            </button>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
</form>