<!-- <ion-view hide-nav-bar="false" view-title="{{splitnomortransaksi}}"> -->
<ion-view hide-nav-bar="false" cache-view="true" view-title="DOKUMEN">
  <ion-content class="layerbackground">
    <ion-item class="item item-divider">
      <h5>Dokuem Pribadi</h5>
    </ion-item>
    <style>
      h2 > i {font-size: 28px;color: teal;}
    </style>
    <div class="row" style="flex-wrap: wrap;">
      <div class="col col-50">
          <div class="list card" style="margin:0px;" ng-click="gotoformisian('paketdata')">
            <div class="item item-devider" style="padding: 10px;">
              <h2 style="text-align: center;"><i class="icon ion-ios-world-outline"></i></h2>
              <h5 style="text-align: center;">KTP</h5>
            </div>
          </div>  
      </div>
      <div class="col col-50">
          <div class="list card" style="margin:0px;" ng-click="gotoformisian('pakettelepon')">
            <div class="item item-devider" style="padding: 10px;">
              <h2 style="text-align: center;"><i class="icon ion-social-whatsapp-outline"></i></h2>
              <h5 style="text-align: center;">Kartu Keluarga</h5>
            </div>
          </div>  
      </div>
      <div class="col col-50">
          <div class="list card" style="margin:0px;" ng-click="gotoformisian('pakettelepon')">
            <div class="item item-devider" style="padding: 10px;">
              <h2 style="text-align: center;"><i class="icon ion-social-whatsapp-outline"></i></h2>
              <h5 style="text-align: center;">NPWP</h5>
            </div>
          </div>  
      </div>
    </div>
    <ion-item class="item item-divider">
      <h5>Dokuem Pekerjaan</h5>
    </ion-item>
    <style>
      h2 > i {font-size: 28px;color: teal;}
    </style>
    <div class="row" style="flex-wrap: wrap;">
      <div class="col col-50">
          <div class="list card" style="margin:0px;" ng-click="gotoformisian('paketdata')">
            <div class="item item-devider" style="padding: 10px;">
              <h2 style="text-align: center;"><i class="icon ion-ios-world-outline"></i></h2>
              <h5 style="text-align: center;">ID Card</h5>
            </div>
          </div>  
      </div>
      <div class="col col-50">
          <div class="list card" style="margin:0px;" ng-click="gotoformisian('pakettelepon')">
            <div class="item item-devider" style="padding: 10px;">
              <h2 style="text-align: center;"><i class="icon ion-social-whatsapp-outline"></i></h2>
              <h5 style="text-align: center;">Slip Gaji</h5>
            </div>
          </div>  
      </div>
      <div class="col col-50">
          <div class="list card" style="margin:0px;" ng-click="gotoformisian('pakettelepon')">
            <div class="item item-devider" style="padding: 10px;">
              <h2 style="text-align: center;"><i class="icon ion-social-whatsapp-outline"></i></h2>
              <h5 style="text-align: center;">BPJS</h5>
            </div>
          </div>  
      </div>
    </div>
  </ion-content>
</ion-view>