<div class="row">
  <div class="col col-100 layerbackground" style="height:100vh;margin-top: -1vh;margin-left: -1vh;margin-right: -1vh;">
    <div class="button-bar bar-calm" id="mybar" >
      <style>
        #mybar .button {line-height:40px;font-size:12px;}
      </style>
      <a class="button button-small" grouped-radio="'MERCHANT'" ng-model="viewtoshow.valuechoose">
        MERCHANT ({{datamerchants.length}})
      </a>
      <a class="button button-small" grouped-radio="'KARYAWAN'" ng-model="viewtoshow.valuechoose">
        KARYAWAN ({{datakaryawans.length}})
      </a>
      <a class="button button-small" grouped-radio="'OPERASIONAL'" ng-model="viewtoshow.valuechoose">
        OPERASIONAL ({{datauserops.length}})
      </a>
      <a class="button button-small" grouped-radio="'PELANGGAN'" ng-model="viewtoshow.valuechoose">
        PELANGGAN ({{datacustomers.length}})
      </a>
      <a class="button button-small" grouped-radio="'INFORMASI'" ng-model="viewtoshow.valuechoose">
        INFORMASI
      </a>
    </div>
    <ion-scroll class="infotokokecil-scroll">
        <div ng-if="viewtoshow.valuechoose == 'MERCHANT' ">
          <div class="row"  style="flex-wrap: wrap;padding-top: 10px;padding-left: 15px;padding-right: 15px;">
            <div class="col col-50"  ng-repeat="detailmerchant in datamerchants track by $index">
                <div class="cardcredit" ng-click="modalupdatemerchantopen(detailmerchant,$index)">
                    <div class="bank-name" title="{{detailmerchant.BANK_NM}}">
                      {{detailmerchant.BANK_NM}}
                    </div>
                    <div class="chip">
                        <div class="side left"></div>
                        <div class="side right"></div>
                        <div class="vertical top"></div>
                        <div class="vertical bottom"></div>
                    </div>
                    <div class="data">
                      <div class="pan" title="{{detailmerchant.MERCHANT_NO}}">
                        {{detailmerchant.MERCHANT_NO}}
                      </div>
                      <div class="pan" title="KARTU DEBIT" >
                        {{detailmerchant.TYPE_PAY_NM}}
                      </div>
                      <div class="name-on-card" title="John Doe" style="font-size: 12px;">  {{detailmerchant.MERCHANT_NM}}
                      </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="row not-found" ng-if="datamerchants.length == 0">
            <div class="profile">
                <img ng-src="img/kg.png"/>
                <h4 style="color: #444;margin-top: -1vh;">
                  Merchant Yang Terdaftar Masih Kosong
                </h4>
            </div>
          </div>
        </div>
        <div ng-if="viewtoshow.valuechoose == 'KARYAWAN' ">
          <div class="row"  style="flex-wrap: wrap;padding-top: 10px;padding-left: 15px;padding-right: 15px;">
            <div class="col col-50"  ng-repeat="detailkaryawan in datakaryawans track by $index">
              <div class="center">
                <div class="profilex">
                  <div class="image">
                    <div class="circle-1"></div>
                    <div class="circle-2"></div>
                    <!-- <img src="http://100dayscss.com/codepen/jessica-potter.jpg" width="70" height="70"> -->
                    <ng-letter-avatar data="{{detailkaryawan.NAMA_DPN|capitalize}}" shape="round" height="70" width="70" charCount="3"></ng-letter-avatar>
                  </div>
                  
                  <div class="name">{{detailkaryawan.NAMA_DPN|capitalize}}</div>
                  
                  <div class="actions">
                    <button class="btn">Telp</button>
                    <button class="btn">Email</button>
                    <button class="btn" style="width: 100px;" ng-click="modalupdatekaryawanopen(detailkaryawan,$index)">Detail</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row not-found" ng-if="datakaryawans.length == 0">
            <div class="profile">
                <img ng-src="img/kg.png"/>
                <h4 style="color: #444;margin-top: -1vh;">
                  Karyawan Yang Terdaftar Masih Kosong
                </h4>
            </div>
          </div>
        </div>
        <div ng-if="viewtoshow.valuechoose == 'OPERASIONAL' ">
          <div class="row"  style="flex-wrap: wrap;padding-top: 10px;padding-left: 15px;padding-right: 15px;">
            <div class="col col-50"  ng-repeat="detailops in datauserops track by $index">
              <div class="center">
                <div class="profilex">
                  <div class="image">
                    <div class="circle-1"></div>
                    <div class="circle-2"></div>
                    <!-- <img src="http://100dayscss.com/codepen/jessica-potter.jpg" width="70" height="70"> -->
                    <ng-letter-avatar data="{{detailops.username|capitalize}}" shape="round" height="70" width="70" charCount="3"></ng-letter-avatar>
                  </div>
                  
                  <div class="name">{{detailops.username}}</div>
                  
                  <div class="actions">
                    <button class="btn">Telp</button>
                    <button class="btn">Email</button>
                    <button class="btn" style="width: 100px;" ng-click="modalupdateuserloginopen(detailops,$index)">Detail</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row not-found" ng-if="datauserops.length == 0">
            <div class="profile">
                <img ng-src="img/kg.png"/>
                <h4 style="color: #444;margin-top: -1vh;">
                  Operasional Yang Terdaftar Masih Kosong
                </h4>
            </div>
          </div>
        </div>
        <div ng-if="viewtoshow.valuechoose == 'PELANGGAN' ">
          <div class="row" style="flex-wrap: wrap;padding-top: 10px;padding-left: 15px;padding-right: 15px;">
            <div class="col col-50"  ng-repeat="customer in datacustomers track by $index">
              <div class="center">
                <div class="profilex">
                  <div class="image">
                    <div class="circle-1"></div>
                    <div class="circle-2"></div>
                    <!-- <img src="http://100dayscss.com/codepen/jessica-potter.jpg" width="70" height="70"> -->
                    <ng-letter-avatar data="{{customer.NAME|capitalize}}" shape="round" height="70" width="70" charCount="3"></ng-letter-avatar>
                  </div>
                  
                  <div class="name">{{customer.NAME}}</div>
                  
                  <div class="actions">
                    <button class="btn">Call</button>
                    <button class="btn">Email</button>
                    <button class="btn" style="width: 100px;" ng-click="modalupdatecustomeropen(customer,$index)">
                      Detail
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row not-found" ng-if="datacustomers.length == 0">
            <div class="profile">
                <img ng-src="img/kg.png"/>
                <h4 style="color: #444;margin-top: -1vh;">
                  Pelanggan Yang Terdaftar Masih Kosong
                </h4>
            </div>
          </div>
        </div>
        <div ng-if="viewtoshow.valuechoose == 'INFORMASI' " style="padding-top:15px;padding-left: 15px;padding-right: 20px;">
          <div style="padding-bottom:5px;">     
            <label  class="item item-input" style="background-color: #f8f8f8">
              <span>Nama Toko</span>
            </label>
            <label  class="item item-input" style="background-color: #f8f8f8">
              <input type="text" ng-model="datadetail.STORE_NM" readonly="true">
            </label>
          </div>
          <div style="padding-bottom:5px;">
            <label  class="item item-input" style="background-color: #f8f8f8;">
              <span>Alamat Toko</span>
            </label>
            <label  class="item item-input" style="background-color: #f8f8f8">
              <span  class="input-label">   
                {{datadetail.ALAMAT}},Kab.{{datadetail.CITY_NAME}}
              </span>
            </label>
            <label  class="item item-input" style="background-color: #f8f8f8">
              <span  class="input-label">   
                {{datadetail.PROVINCE_NM}}
              </span>
            </label>
          </div>
          <div style="padding-bottom:5px;">
            <label  class="item item-input" style="background-color: #f8f8f8">
              <span>PIC Toko</span>
            </label>
            <label  class="item item-input" style="background-color: #f8f8f8">
              <input type="text" ng-model="datadetail.PIC" readonly="true">
            </label>
          </div>
          <div style="padding-bottom:5px;">
            <label  class="item item-input" style="background-color: #f8f8f8">
              <span>Telp Toko</span>
            </label>
            <label  class="item item-input" style="background-color: #f8f8f8">
              <input type="text" ng-model="datadetail.TLP" readonly="true">
            </label>
          </div>
          <div style="padding-bottom:5px;">
            <label  class="item item-input" style="background-color: #f8f8f8">
              <span>Fax Toko</span>
            </label>
            <label  class="item item-input" style="background-color: #f8f8f8">
              <input type="text" ng-model="datadetail.FAX" readonly="true">
            </label>
          </div>
          <ng-map zoom="20" center="-6.228912,106.659945" style="display:block; width:100%; height:300px"  scrollwheel="false">
            <marker position="-6.228912,106.659945"></marker>
          </ng-map>
        </div>
    </ion-scroll>
  </div>
</div>